{% extends "base.html" %}

{% block mycontents %}
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-half">
            <h1>About</h1>
            {% block about_content %}
            {% endblock %}
        </div>
        <div class="w3-half">
            <h1>How does it work?</h1>
            {% block how_content %}
            {% endblock %}
        </div>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third">
            <h1>Try It Yourself</h1>
            {% block upload_block %}
            {% endblock %}
        </div>

        <div class="w3-twothird">
            <h1>Instructions</h1>
            <h5 class="w3-padding-32"> Upload a .csv file containing the valuations</h5>

            <p class="w3-text-grey"> Follow the example below, by adding
                as anything in quotation marks can be changed to other names.
            </p>

            <div class="w3-border">
            <h5 class="w3-padding-32">Example</h5>
                <p>
                    name,"item1","item2","item z","car",... <br>
                    "Player 1",1,2,3,4,... <br>
                    "Player 2",1,2,3,4,... <br>
                    "Alice",2,2,3,4,...    <br>
                </p>
            </div>
            {% block info %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}