<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en">
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--fix "GET /favicon.ico HTTP/1.1" 404 -->
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    {{ dropzone.load_css() }}

    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar, h1, h2, button {
            font-family: "Montserrat", sans-serif
        }

        .dropzone {
            color: #000;
            background-color: #e9fffd;

            :hover {
                border-color: #009688
            }
        ;
            margin-top: 16px;
            margin-bottom: 16px
        }
    </style>
</head>
<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
        <h4>Algorithms showcase</h4>
        <h1 class="w3-xxxlarge w3-animate-bottom">Maximin Aware</h1>
    </div>
</header>

<div class="w3-row-padding w3-center w3-light-grey w3-padding-16">
    <h1 class="w3-margin w3-xlarge">Maximin Aware (MMA) - There is always somebody who gets no more
        than you </h1>
</div>


<div class="w3-container">
    <hr>
    <h2 class="w3-center">Tabs</h2>
    <div class="w3-border">
        <div class="w3-bar w3-theme">
            <button class="w3-half w3-button testbtn w3-padding-16" onclick="openAlgo(event,'DnC')">Divide and Choose
            </button>
            <button class="w3-half w3-button testbtn w3-padding-16" onclick="openAlgo(event,'AbM')">Allocation by
                Matching
            </button>
            <!--            <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'Tokyo')">Tokyo</button>-->
        </div>

        <div id="DnC" class="w3-container algo w3-animate-opacity">
            {% include "algo1.html" %}
        </div>
        <div id="AbM" class="w3-container algo w3-animate-opacity">
            {% include "algo2.html" %}
        </div>
        <hr>
    </div>
</div>
<div class="w3-container w3-padding-32">
    <h2 class="w3-center">Try it Yourself</h2>
    <div class="w3-container">
        <p>
            Choose an algorithm and upload a .csv file.
        </p>
        <button onclick="document.getElementById('example').style.display='block'"
                class="w3-button w3-theme-dark"> See Example
        </button>
        <div class="w3-container">
            <select class="w3-select w3-center" name="algo_option" style="width: 25%">
                <option value="" disabled selected>Choose Algorithm</option>
                <option value="div">Divide and Choose</option>
                <option value="alloc">Allocation by Matching</option>
            </select>
        </div>

        {{ dropzone.create('/') }}
        <button id="upload">Upload</button>

        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
        {# You can get the success response from server like this: #}
        {#{ dropzone.config(custom_options="success: function(file, response){console.log(response);}") }#}
    </div>

</div>
<br>

<!-- Modal -->
<div id="example" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-theme-l1">
        <span onclick="document.getElementById('example').style.display='none'"
              class="w3-button w3-display-topright">×</span>
            <h4>Oh snap! We just showed you a modal..</h4>
            <h5>Because we can </h5>
        </header>
        <div class="w3-padding">
            <p>Cool huh? Ok, enough teasing around..</p>
            <p>Go to our <a class="w3-btn" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
        </div>
        <footer class="w3-container w3-theme-l1">
            <button id="download_exm" onclick="downloadCSV('project/Upload/example_do_not_touch.csv')">download
                example
            </button>
        </footer>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-theme-dark">
    <div class="w3-center">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>

    <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
        <span class="w3-text w3-theme-light w3-padding">Go To Top</span>
        <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>

<script>
    // Tabs
    function openAlgo(evt, cityName) {
        var i;
        var x = document.getElementsByClassName("algo");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        var activebtn = document.getElementsByClassName("testbtn");
        for (i = 0; i < x.length; i++) {
            activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " w3-dark-grey";
    }

    var mybtn = document.getElementsByClassName("testbtn")[0];
    mybtn.click();

    // Accordions
    function myAccFunc(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace("w3-theme", "w3-theme-light");
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace("w3-theme-light", "w3-theme");
        }
    }

</script>
</body>
</html>
