<form method="POST" class="w3-container" action="{{ url_for('index') }}#form-section">
    {{ input_form.hidden_tag() }}
    <div class="w3-margin-bottom">
        <label>{{ input_form.algo_name.label }}</label>
        {{ input_form.algo_name(class='w3-select w3-center') }}
    </div>
    <div class="w3-margin-bottom">
        <label>{{ input_form.participants.label }}</label>
        {{ input_form.participants(class='w3-input w3-border', placeholder='Alice, Bob, ...') }}
    </div>
    <div class="w3-margin-bottom">
        <label>{{ input_form.items.label }}</label>
        {{ input_form.items(class='w3-input w3-border', placeholder='Item1, Item2, ...') }}
    </div>
    {{ input_form.submit(class="w3-button w3-theme-dark w3-margin-bottom") }}
    {{ input_form.generate(class="w3-button w3-theme-dark w3-margin-bottom") }}
</form>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- Dynamic forms for participants and items -->
{% if participants and items %}
    <div class="w3-container w3-padding w3-center" id="add-values">
        <h3 class="w3-margin-top w3-center">Valuations</h3>
        <p> Enter values ranging from 0 to 100 for each item for every participant, and submit below.
            Ensure that no participant has only zeros. </p>
        <form method="POST" action="{{ url_for('submit') }}">

            <input type="hidden" name="algo_name" value="{{ algo_name }}">
            <input type="hidden" name="participants" value="{{ participants|join(',') }}">
            <input type="hidden" name="items" value="{{ items|join(',') }}">

            <div class="accordion">
                {% for participant in participants %}
                    <div class="accordion-item w3-margin-top w3-border">
                        {#                    <h3>{{ participant }}</h3>#}
                        <h3 class="accordion-header" id="p_{{ participant }}">
                            <button class="accordion-button collapsed w3-padding" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#valuations_{{ participant }}" aria-expanded="false"
                                    aria-controls="valuations_{{ participant }}">
                                {{ participant }}
                            </button>
                        </h3>
                        <div id="valuations_{{ participant }}" class="accordion-collapse collapse"
                             aria-labelledby="p_{{ participant }}">
                            {% for item in items %}
                                <div class="w3-row w3-margin" style="display: flex; align-items: center;">
                                    <div class="w3-col s3 m2 l2 w3-large w3-center">
                                        <label for="{{ participant }}_{{ item }}">{{ item }}</label>
                                    </div>
                                    <div class="w3-col s9 m10 l10">
                                        <input type="number" name="{{ participant }}_{{ item }}"
                                               class="w3-input w3-border w3-large" min="0" max="100" required
                                        value="{{ random_values.get(participant, {}).get(item,'') }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="w3-button w3-theme-dark w3-margin-top">Submit All Values</button>
        </form>
    </div>
{% endif %}
