{% extends "layout.html" %}

{% set Title = "MMA Output" %}

{% set sub_title= "Algorithm Results" %}
{% if algo_name == "div" %}
    {% set head = "Divide and Choose" %}
{% elif algo_name == "alloc" %}
    {% set head = "Allocation by Matching" %}
{% endif %}



{% block mycontents %}
    <div class="w3-container w3-section">
        <div class="w3-container w3-padding-large">
            <h3 class="w3-section w3-center">Submitted Data</h3>

            <!-- Display submitted data -->
            <table class="w3-table w3-bordered w3-striped w3-card">
                <thead>
                <tr class="w3-theme-d1">
                    <th>Participant</th>
                    {% for item in submitted_data[submitted_data|first].keys() %}
                        <th class="w3-center">{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for participant, items in submitted_data.items() %}
                    <tr>
                        <td>{{ participant }}</td>
                        {% for item, valuation in items.items() %}
                            <td class="w3-center">{{ valuation }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="w3-container w3-padding-large">
            <h3 class="w3-section w3-center">Final allocation</h3>

            <!-- Display submitted data -->
            <table class="w3-table w3-bordered w3-striped w3-card">
                <thead>
                <tr class="w3-theme-d1">
                    <th>Participant</th>
                    <th>Items</th>
                    <th class="w3-center">Value</th>
                </tr>
                </thead>
                <tbody>
                {% for participant, data in allocation.items() %}
                    <tr>
                        <td>{{ participant }}</td>
                        <td>
                            {{ data['items']|join(', ') }}
                        </td>
                        <td class="w3-center">{{ data['value'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}