{% extends "layout.html" %}

{% set Title = "MMA Output" %}

{% set sub_title= "Algorithm Results" %}
{% if algo_name == "div" %}
    {% set head = "Divide and Choose" %}
{% elif algo_name == "alloc" %}
    {% set head = "Allocation by Matching" %}
{% endif %}

{% block contents %}
    <div class="w3-container w3-section">
        <div class="w3-container w3-padding-large">
            <h3 class="w3-section w3-center">Submitted Data</h3>

            <!-- Display submitted data -->
            <table class="w3-table w3-bordered w3-striped w3-card">
                <thead>
                <tr class="w3-theme-d1">
                    <th>Participant</th>
                    {% for item in submitted_data[submitted_data|first].keys() %}
                        <th class="w3-center">{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for participant, items in submitted_data.items() %}
                    <tr>
                        <td>{{ participant }}</td>
                        {% for item, valuation in items.items() %}
                            <td class="w3-center">{{ valuation }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="w3-container w3-padding-large">
            <h3 class="w3-section w3-center">Final allocation</h3>

            <!-- Display resulting data -->
            <table class="w3-table w3-bordered w3-striped w3-card">
                <thead>
                <tr class="w3-theme-d1">
                    <th>Participant</th>
                    <th>Items</th>
                    <th class="w3-center">Personal Value</th>
                </tr>
                </thead>
                <tbody>
                {% for participant, data in allocation.items() %}
                    <tr>
                        <td>{{ participant }}</td>
                        <td>
                            {{ data['items']|join(', ') }}
                        </td>
                        <td class="w3-center">{{ data['value'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="w3-container w3-center w3-margin-top">
        <button onclick="document.getElementById('logModal').style.display='block'" class="w3-button w3-theme-d1">View
            Logs
        </button>
    </div>

    <!-- The Modal -->
    <div id="logModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-theme-d1">
            <span onclick="document.getElementById('logModal').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
                <h2 class="w3-center">Logs</h2>
                <p class="w3-opacity">
                    disclaimer: the logs are designed for course allocation
                    but the algorithms are for item allocation.
                    See 'in terms of item allocation' for true valuation.
                </p>
            </header>
            <div class="w3-section w3-container">
                <div class="accordion">
                    {% for participant, log in logs.items() %}
                        <div class="accordion-item w3-margin-top w3-border">
                            <h3 class="accordion-header" id="l_{{ participant }}">
                                <button class="accordion-button collapsed w3-padding" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#exp_{{ participant }}" aria-expanded="false"
                                        aria-controls="exp_{{ participant }}">
                                    {{ participant }}
                                </button>
                            </h3>
                            <div id="exp_{{ participant }}" class="accordion-collapse collapse"
                                 aria-labelledby="l_{{ participant }}">
                                <div class="w3-container">
                                    <pre>{{ log }}</pre>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <footer class="w3-container w3-theme-d1">
                <button onclick="document.getElementById('logModal').style.display='none'"
                        class="w3-button w3-theme-d1">Close
                </button>
            </footer>
        </div>
    </div>
{% endblock %}